<header>
    <a href="/" class="logo">Ecommerce</a>

    <nav>
        <ul>
            <li><a href="/cart" class="btnUpload">Carritos</a></li>
            <li><a href="/products" class="btnUpload">Productos</a></li>
            
            {{#if isAdmin}}
                <li><a href="/realtimeproducts" class="btnUpload">Administrar productos</a></li>
            {{/if}}
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario</a>
                <ul class="dropdown-menu">
                    <li><a href="/profile" class="text-dark">Perfil</a></li>
                    {{#if loggedIn}}
                        <li><a href="/api/sessions/logout" class="text-dark">Cerrar sesión</a></li>
                    {{else}}
                        <li><a href="/login" class="text-dark">Iniciar sesión</a></li>
                        <li><a href="/register" class="text-dark">Registrarse</a></li>
                    {{/if}}
                </ul>
            </li>
        </ul>
    </nav>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</header>
